

<div layout="row" layout-align="center center">
    <div flex="50"> 
    <md-card>
<md-card-title layout="column" >
    <md-card-title-text layout="column" layout-align="center center">
        <span class="md-headline"> LOGIN</span>
    
   
     </md-card-title-text>
    <div layout="column" layout-align="center">
    
        <md-input-container>
        <label>Nome de usuário </label>
        <input ng-model="user.title">
      </md-input-container>
         <md-input-container>
        <label>Email</label>
        <input ng-model="user.email" type="email">
      </md-input-container>
   </div>
    
    </md-card-title>

    
    <md-card-actions layout="column" layout-align="center center">
    <md-button class="md-raised md-primary"> Entrar </md-button>
        

    </md-card-actions>
        <md-card-title-text layout="column" layout-align="center center">
        <a ui-sref="cadastro"> ainda não sou cadastrado </a> 
        
        </md-card-title-text>
       
     
</md-card>
</div>

</div>

